{% extends 'base.html' %}
{% block title %}
    <title>Acceso Denegado</title>
{% endblock %}

{% block content %}
 <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 my-5">

          <h1 class="mb-4">
            <strong>¡¡¡ACCESO DENEGADO!!!</strong>
          </h1>



        </div>
        <!-- Content -->
      </section>
      <!--Section: Jumbotron-->





    </div>
  </main>
{% endblock %}