{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    <title>{% translate "Catpal: User's Details" %}</title>
{% endblock %}


{% block content %}

<!--this is because the h1 hides behind the navbar-->
<br><br><br>

{%  for error in errors %}
    <div>
        {{ error }}
    </div>
{% endfor %}

<h1>{{ user.username }}</h1>

<p> {% translate "Name:" %} {{ user.first_name }}</p>
<p> {% translate "Lastname" %} {{ user.last_name }}</p>


<button> {% translate "Save Changes" %}</button>

{% endblock %}
