{% extends 'group_details.html' %}

{% block title %}
    <title>Detalles de Grupo (Staff)</title>
{% endblock %}



{% block staff%}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="syncfrommendeley">
        <input type="submit" value="Sincronizar desde Mendeley">
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="synctomendeley">
        <input type="submit" value="Sincronizar hacia Mendeley">
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <input type="submit" value="TODO Eliminar">
    </form>

    <div id="Synchronized_detected_changes">
        {% if sync_changes %}
            <h3>Cambios encontrados </h3>
            {% for change in sync_changes %}
                <p>{{change.title}}</p>
            {% endfor %}
        {% endif%}
    </div>

{% endblock %}


