{% extends 'group_details.html' %}
{% load i18n %}
{% block title %}
    <title>{% translate  "Catpal: Group's Details(Staff)" %}</title>
{% endblock %}


{% block staff%}

<style>
    .user-col{
        border-radius: 10px;
        background-color: rgba(0, 255, 255, 0.151);
    }
    .g-user-col{
        border-radius: 10px;
        background-color: hsla(236, 84%, 71%, 0.233);
    }
    input{
        margin: 5px;
    }

    #Synchronized_detected_changes {
        max-height: 300px;
        max-width: fit-content;
        overflow: scroll;
    }
    #Synchronized_detected_changes p{
        
        border-radius: 10px;
        background-color: rgba(124, 211, 153, 0.151);
        font-size: small;
        margin: 1px;
        
    }

</style>

<div class="row" >

    <div class="col-4">
        <br>
    <h3>{% translate  "Actions" %}</h3>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="syncfrommendeley">
        <!--<input class="btn btn-secondary" type="submit" value="Sincronizar desde Mendeley"> -->
        <button class="btn btn-secondary" type="submit" value="Sincronizar desde Mendeley">{% translate  "Sincronize from Mendeley" %}</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="synctomendeley">
        <!-- <input class="btn btn-secondary" type="submit" value="Sincronizar hacia Mendeley"> -->
        <button class="btn btn-secondary" type="submit" value="Sincronizar hacia Mendeley">{% translate  "Sincronize to Mendeley" %}</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <!--Todo
        <input type="hidden" name="action" value="delete">
        <input class="btn btn-secondary" type="submit" value="TODO Eliminar"> -->
    </form>

    
</div>
    <div class="col-8">
        <br>
        <h3>{% translate  "Manage Users" %}</h3>
        <div class="row">
        <div class="col-4 user-col">
            <h3>{% translate  "Users" %}</h3>
            <div id="all-users-checks">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for user in all_users %}
                        <div>
                            <input type="checkbox" name="user" value="{{user.id}}">
                            <label for="{{user.username}}">{{user.username}}</label>
                                <br>
                        </div>

                    {% endfor %}
                    <input type="hidden" name="action" value="adduser">
                    <!-- <input type="submit" id="moveto" class = "btn btn-primary" value="Mover al Grupo"> -->
                    <button type="submit" id="moveto" class = "btn btn-primary" value="Mover al Grupo">{% translate  "Add to the group" %}</button>
                </form>
            </div>

    </div>
            <div class="col-1">
                
            </div>
    <div class="col-5 g-user-col">
        <div>
            <br>
            <h3>{% translate  "Members of the group" %}</h3>
                <div id="g-checks">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for user in group_users %}
                             <input type="checkbox" name="user" value="{{user.id}}">
                            <label for="{{user.username}}">{{user.username}}</label>
                            <br>
                        {% endfor %}
                        <input type="hidden" name="action" value="removeuser">
                        <!-- <input type="submit" class="btn btn btn-danger" id="removefrom" name="removeuser" value="Remover del Grupo"> -->
                        <button type="submit" class="btn btn btn-danger" id="removefrom" name="removeuser" value="Remover del Grupo">Remove from the group</button>
                    </form>
                </div>

        </div>

    </div>

</div>


</div>
</div>
<div class="row">
    <div id="Synchronized_detected_changes">
        {% if sync_changes %}
            <h3>{% translate  "Changes detected" %}</h3>
            {% for change in sync_changes %}
                <p>{{change.title}}</p>
            {% endfor %}
        {% endif%}
    </div>
</div>    
{% endblock %}

















