{% extends 'base.html' %}

{% block title %}
    <title>Agregar Grupos</title>
{% endblock %}


{% block content %}




<h1>Agregar Grupos</h1>

{% if errors %}
    <h2 class="error_message"> Error </h2>
    {%  for error in errors %}
        <div class="error_message">
            {{ error }}
        </div>
    {% endfor %}
    <br>
{% endif%}

<form method="post">
    {% csrf_token %}

    <input type="hidden" name="form_id" value="user_data">
    {{form_prueba}}

    <input class="btn primary-btn" type="submit" value="Escanear Grupos">
</form>

<style>
    #addGroupButton{
    position: top-fixed;
    }
</style>

{% if groups %}


        <form method="post">
        {% csrf_token %}
    <div class ='row'>
        <div class="col-10 card-columns">
            <input type="hidden" name="form_id" value="groups_data">
            <input type="hidden" name="mendeley_user" value="{{mendeley_user}}"/>
            <input type="hidden" name="mendeley_password" value="{{mendeley_password}}"/>

            {% for group in groups %}

                <div class="div_group card">
                    <h3>
                        <input type="checkbox" name="{{group.id}}" value="{{group.name}}">

                        {{group.name}}</h3>

                    <div>


                        <span>Acceso:</span>
                        {% if group.access_level == "private"%}

                        {% elif group.access_level == "invite_only" %}

                        {% elif group.access_level == "public" %}

                        {% endif %}
                        {{group.access_level}}
                        <br>
                        <span>Id:</span>
                        {{group.id}}
                        <br>
                        <a href="{{group.link}}">{{group.link}}</a>
                        <br>
                        <span>Rol:</span>
                        {{group.role}}
                        <br>
                        <span>Tags:</span>
                        {{group.tags}}

                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="col-2" id="addGroupButton">
            <h3>Acciones</h3>
            <input type="submit" class="btn primary-btn" value="Añadir Grupos" style="position: fixed; float: bottom-auto"></div>
    </div>

            <div class="row">
                <div class="col-12"><div class="d-flex justify-content-center">

                {% if groups.has_other_pages %}
            <span><strong>Páginas </strong></span>
                    <nav aria-label="Page navigation">

                            <ul class="pagination">
                                {% if groups.number != 1 %}
                                    <li class="page-item">
                                  <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                  </a>
                                </li>
                                {% endif %}



                                {% for n in groups.paginator.page_range %}
                                  {% if groups.number == n %}
                                    <li class="page-item active">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                  {% elif n > groups.number|add:'-3' and n < groups.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if groups.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ groups.paginator.num_pages }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                {% endif %}
                            </ul>
                        </nav>
            {% endif %}
        </div></div>

            </div>

    </form>


{% endif %}

<br>

{% endblock %}
