{% extends 'base.html' %}
{% load i18n%}
{% block title %}
    <title>Select Group</title>
{% endblock %}


{% block content %}

<!--this is because the h1 hides behind the navbar-->
<br><br><br>
<h1>{% translate "Manage Groups" %}</h1>

{%  for error in errors %}
    <div>
        {{ error }}
    </div>
{% endfor %}
<div class="d-flex justify-content-center">

                {% if groups.has_other_pages %}


                    <nav aria-label="Page navigation">

                            <ul class="pagination">
                                 <li class="m-2"><span><strong>{% translate "Pages" %}</strong></span></li>

                                {% if groups.number != 1 %}
                                    <li class="page-item">
                                  <a class="page-link m-2" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                  </a>
                                </li>
                                {% endif %}



                                {% for n in groups.paginator.page_range %}
                                  {% if groups.number == n %}
                                    <li class="page-item active m-2">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                  {% elif n > groups.number|add:'-3' and n < groups.number|add:'3' %}
                                    <li class="page-item m-2"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if groups.has_next %}
                                  <li class="page-item m-2">
                                    <a class="page-link" href="?page={{ groups.paginator.num_pages }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                {% endif %}
                            </ul>
                        </nav>

            {% endif %}
        </div>
<div class="card-columns">
{% for group in groups %}

        <div class="div_group card">
            <div class="card-header"><h3>
                <a href="{% url 'admin_group_details' group_id=group.mendeley_id %}">{{group.name}}</a>
            </h3></div>


                <div class="card-body">{% translate "Contains" %} {{group.get_docs_amount}} {% translate "document(s)" %}.
                <br>

                <span>{% translate "Access:" %}</span>
                {% if group.access_level == "private"%}

                {% elif group.access_level == "invite_only" %}

                {% elif group.access_level == "public" %}

                {% endif %}
                {{group.access_level}}
                <br>
                <span>Id:</span>
                {{group.id}}
                <br>
                <a href="{{group.link}}">{{group.link}}</a>
                <br>
                <span>Tags:</span>
                {{group.tags}}</div>



        </div>

    {% endfor %}

    </div>


    <div class="d-flex justify-content-center">

                {% if groups.has_other_pages %}


                    <nav aria-label="Page navigation">

                            <ul class="pagination">
                                 <li class="m-2"><span><strong>{% translate "Pagesa" %}</strong></span></li>

                                {% if groups.number != 1 %}
                                    <li class="page-item">
                                  <a class="page-link m-2" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                  </a>
                                </li>
                                {% endif %}



                                {% for n in groups.paginator.page_range %}
                                  {% if groups.number == n %}
                                    <li class="page-item active m-2">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                  {% elif n > groups.number|add:'-3' and n < groups.number|add:'3' %}
                                    <li class="page-item m-2"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if groups.has_next %}
                                  <li class="page-item m-2">
                                    <a class="page-link" href="?page={{ groups.paginator.num_pages }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                {% endif %}
                            </ul>
                        </nav>

            {% endif %}
        </div>


{% endblock %}
