{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    <title>Docs Details</title>
{% endblock %}


{% block content%}
<div class="row">
<div class="col-12">
    <h1>{{document.title}}</h1>

Tags: {{document.tags}}
{% if user.is_authenticated %}
    <br />
<small><a href="{% url 'update_doc' document.pk %}">(Edit)</a></small>-<small><a href="{% url 'delete_doc' document.pk %}">(Delete)</a></small>
{% endif %}
<br />
<hr>
</div>
</div>
<div class="row">
    <div class="col-4">
        <h5>{% translate "Categories" %}</h5>
<ul>
    {% for element in document.categories.all %}
        <li>{{element}}</li>
    {% endfor %}
</ul></div>
    <div class="col-8">
        <h5>Abstract</h5>
<p>{{document.abstract}}</p>

<br />
    </div>

</div>
<div class="row">
    <div class="col-12"><a href="{% url 'home' %}" class="btn btn-secondary" >Home</a></div>
    </div>



{% endblock %}