<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Categorias</h1>

<form method="post">
    {% csrf_token %}
{% for category in categories_tree %}

    <input type="checkbox" value="{{category.category.name}}" name="selected">
    <label for="selected">{{category.str}}</label>
    <br>

{% endfor %}
    <br>
    <div>
        <label>name</label>
        <input type="text" name="new_name">
        <input type="submit" name="action" value="Crear">
    </div>

    <div>
        <input type="submit" name="action" value="Pop">
    </div>

    <div>
        <input type="submit" name="action" value="Eliminar">
    </div>

    <div>
        <label>Combinar en</label>
        <input type="text" name="merge_to">
        <input type="submit" name="action" value="Combinar">
    </div>
</form>

</body>
</html>