{% extends 'base.html' %}
{% load i18n %}
{% block title %} <title>{% translate "Catpal: Delete Document" %}</title> {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>{% translate "Delete Post" %}...</h1>
<br/> <br/>
<h3>{% translate "Delete:" %} {{document.title}}</h3>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <strong>{% translate "Are you sure?" %}</strong>
        <button class="btn btn-secondary">{% translate "Delete" %}</button>
    </form>
    </div>

{% else %}
    {% translate "You're not allowed here!" %}
{% endif %}

{% endblock %}