{% extends 'base.html' %}

{% block title %}
    <title>{{doc.title}}</title>
{% endblock %}


{% block content%}
<br>
<br>
<br>
<div class="row">
<div class="col-12">
    <h1>{{doc.title}}</h1>

Tags: {{doc.tags}}
{% if user.is_authenticated %}
    <br />
<small><a href="{% url 'document_edit' group_id=group.mendeley_id doc_id=doc.mendeley_id %}">(Edit)</a></small>-<small><a href="{% url 'delete_doc' doc.pk %}">(Delete)</a></small>
{% endif %}
<br />
<hr>
</div>
</div>
<div class="row">
    <div class="col-5">
        <h5>Categories</h5>
        <ul>
            {% for element in cat_tree %}
                <li>
                    {% if element.has_cat %}
                        <input type="checkbox" name="cats" value="{{element.category.cat_id}}" checked disabled>
                    {% else %}
                        <input type="checkbox" name="cats" value="{{element.category.cat_id}}" disabled>
                    {% endif %}
                    {{element.str}}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-7">
        <h5>Abstract</h5>
        <p>{{doc.abstract}}</p>

    <br />
    </div>

</div>

{% endblock %}