{% extends 'base.html' %}
{% load i18n%}
{% block title %}
    <title>{% translate  "Group's Details" %}</title>
{% endblock %}


{% block content %}
<style>
    
</style>
{%  for error in errors %}
    <div>
        {{ error }}
    </div>
{% endfor %}


    <div>
<h1>{% translate  "Group:" %} {{ group.name }}</h1>

<p> <b>Id:</b> {{ group.mendeley_id }}</p>
<p> <b>{% translate "Administrator: " %}</b> {{ group.mendeley_username }}</p>


<!-- <a class='btn btn-primary'href="{% url 'group_details_documents' group_id=group.mendeley_id %}">Documentos del Grupo</a> -->
<a class='btn btn-primary'href="{% url 'group_details_documents' group_id=group.mendeley_id %}">{% translate  "Group's Documents" %}</a>

    {% block staff%}

    {% endblock %}
        </div>

</div>
{% endblock %}
