{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    <title>{% translate "Catpal: Group's Documents" %}</title>
{% endblock %}

{% block content %}



<style>
    #listaDoc li{

        height: 75px;
        width: inherit;
        background-color: rgba(0, 140, 255, 0.096);
        border-left: 5px solid rgba(0, 140, 255, 0.616);
        margin: 15px;
        padding-left: 10px;
        border-radius: 5px;
        overflow: hidden;
        list-style-type: decimal;
        
     
    }
    #listaDoc li:hover{
        /*background-color: lavenderblush;*/
        transform: scale(1.03);
    }

    .list-group {
    list-style: decimal inside;
}

    .list-group-item {
    display: list-item;
}
    
</style>


<div class="row">
    <div class="col-10">
        <h1>{% translate "Group" %}"{{group.name}}"</h1>





        <br>
        <h3>{% translate "Details" %}</h3>
        <hr>
        <p> <b>Id:</b> {{ group.mendeley_id }}</p>
        <p> <b>{% translate "Administrator: " %}</b> {{ group.mendeley_username }}</p>



        <br>
        <br>
        <h3>{% translate "Documents" %}</h3>
        <br>
        <div class="d-flex justify-content-center">

                {% if documents.has_other_pages %}

                    <nav aria-label="Page navigation">

                            <ul class="pagination">
                                <li class="m-2"><span><strong>{% translate "Pages" %}</strong></span></li>
                                {% if documents.number != 1 %}
                                    <li class="page-item m-2">
                                  <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                  </a>
                                </li>
                                {% endif %}



                                {% for n in documents.paginator.page_range %}
                                  {% if documents.number == n %}
                                    <li class="page-item active m-2">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                  {% elif n > documents.number|add:'-3' and n < documents.number|add:'3' %}
                                    <li class="page-item m-2"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if documents.has_next %}
                                  <li class="page-item m-2">
                                    <a class="page-link" href="?page={{ documents.paginator.num_pages }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                {% endif %}
                            </ul>
                        </nav>
            {% endif %}
        </div>



        <ol  class="list-group" id="listaDoc">
            {% for doc in documents %}
                <li>
                    <a href="{% url 'document_detail' group.mendeley_id doc.mendeley_id %}">{{doc.title|truncatechars:100}}</a>
                    {{doc.tags|truncatechars:50}}
                    <br />
                    <small><a href="{% url 'document_edit' group.mendeley_id doc.mendeley_id %}">({% translate "Edit" %})</a> </small>
                </li>
            {% empty %}
                <p>{% translate "No documents in the group." %}</p>
            {% endfor %}

        </ol>

        <form action="" id="amountForm"><!--Todo Items per page <form-->
            <span><p class="m-2">{% translate "Amount of items per page" %}</p></span>
        <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="amountRadio"
                id="inlineRadio1"
                value="10"
              />
              <label class="form-check-label" for="inlineRadio3">10</label>
        </div><div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="amountRadio"
                id="inlineRadio2"
                value="15"

              />
              <label class="form-check-label" for="inlineRadio3">15</label>
        </div><div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="amountRadio"
                id="inlineRadio3"
                value="20"

              />
              <label class="form-check-label" for="inlineRadio3">20</label>
        </div>
            <button class="btn btn-secondary" value="amountPerPage" name="changePerPage" type="submit">{% translate "Accept" %}</button>
        </form>




        <div class="d-flex justify-content-center">

                {% if documents.has_other_pages %}

                    <nav aria-label="Page navigation">

                            <ul class="pagination">
                                <li class="m-2"><span><strong>{% translate "Pages" %}</strong></span></li>
                                {% if documents.number != 1 %}
                                    <li class="page-item m-2">
                                  <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">begin</span>
                                  </a>
                                </li>
                                {% endif %}
                                   


                                {% for n in documents.paginator.page_range %}
                                  {% if documents.number == n %}
                                    <li class="page-item active m-2">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                  {% elif n > documents.number|add:'-3' and n < documents.number|add:'3' %}
                                    <li class="page-item m-2"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if documents.has_next %}
                                  <li class="page-item m-2">
                                    <a class="page-link" href="?page={{ documents.paginator.num_pages }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">end</span>
                                    </a>
                                  </li>
                                {% endif %}
                                <p> of {{documents.paginator.num_pages}}</p>
                            </ul> 
                        </nav>
            {% endif %}
        </div>
    </div>
    {% if user.is_staff %}
            <div class="col-2 jumbotron   text-center fixed" style="height: 20rem;">
                    <h3>{% translate "Actions" %}</h3>

                    <a href="{%url 'admin_group_details' group.mendeley_id %}"><button class="btn btn-primary">{% translate "Manage Group " %}{{group.name}}</button></a>
                    <a href="{%url 'group_categories' group.mendeley_id %}"><button class="btn btn-primary">{% translate "Edit Group's Categories" %}</button></a>

                </div>
    {% endif %}
        </div>

</div>

{% endblock %}
