{% extends 'base.html' %}

{% block title %}
    <title>Select Group</title>
{% endblock %}

hola

{% block content %}

<!--this is because the h1 hides behind the navbar-->
<br><br><br>
<h1>Groups</h1>

{%  for error in errors %}
    <div>
        {{ error }}
    </div>
{% endfor %}

<form method="post">
    {% csrf_token %}

    {%  for group in groups %}
        <div class="element">
            <input type="radio" name="selected_group" value="{{group.mendeley_id}}"> {{group.name}}
        </div>
    {% endfor %}
    <br>
    <input type="submit" value="Select">
</form>

{% endblock %}
