{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    <title>Update Doc</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>{% translate "Update" %} {{document.title}}</h1>
<br /> <br />
<style>
    .form-control{
        overflow: scroll;
    }
</style>
<div class="form-group">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">{% translate "Update" %}</button>
</form>
</div>

{% else %}
    {% translate "You're not allowed here!" %}
{% endif%}
    {% endblock %}