{% extends 'base.html' %}

{% block title %}
    <title>Select Group</title>
{% endblock %}


{% block content %}

<h1>Mis grupos</h1>
<hr>

{%  for error in errors %}
    <div>
        {{ error }}
    </div>
{% endfor %}

<div class="card-columns">{% for group in groups %}

        <div class="div_group card  text-center">
            <h3>
                <a class="card-header" href="{% url 'group_details_documents' group_id=group.mendeley_id %}">{{group.name}}</a>
            </h3>
            <div>

                <span>Acceso:</span>
                {% if group.access_level == "private"%}

                {% elif group.access_level == "invite_only" %}

                {% elif group.access_level == "public" %}

                {% endif %}
                {{group.access_level}}
                <br>
                <span>Id:</span>
                {{group.id}}
                <br>
                <a href="{{group.link}}">{{group.link}}</a>
                <br><!-- Why the groups should have any tags??
                <span>Tags:</span>
                {{group.tags}}
                -->
            </div>
        </div>

    {% endfor %}
</div>



{% endblock %}
